{% extends 'base.html' %}

{% block content %}
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">brulim RBG</h1>
                <p>RGB é um projeto de estudo, cujo objetivo é testar as opções de autenticação e permissão do Django.
                Dependendo do usuário logado, os cards vermelho, verde e azul estarão disponíveis, assim como seus links.</p>
                {% if user.is_anonymous %}
                    <a class="btn btn-warning" href="{% url 'login' %}">Pronto Para Testar!</a>
                {% else %}
                    <a class="btn btn-warning" href="/rgb">Pronto Para Testar!</a>
                {% endif %}
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">Usuários = user + RGB, R, G, B ou RB + @test.com</p>
                <p class="text-white m-0">Senha = user1234</p>
                <p class="text-white m-0">Os usuários terão acesso aos cards conforme sua permissão.</p>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title bg-danger opacity-75 text-white">Card Vermelho (R)</h2>
                        <p class="card-text">Após o login esse card aparecerá para usuários com permissão R,
                         o link não deve estar disponível para usuários sem essa permissão.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-danger btn-sm" href="#!">Link Restrito</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title bg-success opacity-75 text-white">Card Verde (G)</h2>
                        <p class="card-text">Após o login esse card aparecerá para usuários com permissão G,
                         o link não deve estar disponível para usuários sem essa permissão.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">Link Restrito</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title bg-primary opacity-75 text-white">Card Azul (B)</h2>
                        <p class="card-text">Após o login esse card aparecerá para usuários com permissão B,
                         o link não deve estar disponível para usuários sem essa permissão.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Link Restrito</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
